<br><br>
<nav class="menu">
    <ul>
      <li routerLink="/dashboard/add-post"><span>Agregar</span></li>
   
    </ul>
  </nav>
  <div class="product-container">
  
   
    <div *ngFor="let post of listPost" class="product-card">
      <img src="{{post.imagen}}" alt="Product Name" class="product-image">
      <h3 class="product-name">{{post.titulo}}</h3>
      <p class="product-price">{{post.contenido}}</p>
      <div class="product-price">autor :  {{post.autor}}  </div>
      <li class="fa-solid fa-trash"  (click)="deletePost(post.id)"></li>
      <br>
       <li class="fa-solid fa-pen-to-square"[routerLink]="['/dashboard/update-post/',(post.id)]" ></li> 
  
    </div>
      
   
     </div>